@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #fff;
  background: #2E2E33;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;
}

.app-container {
  //padding-bottom: 50px;
}
